<!doctype html>
<html lang="RU-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 100%"></div>

    <div id="popUp" class="pop-up pop-up_hidden">
        <div class="pop-up__block">
            <div class="pop-up__header">
                <p class="pop-up__address"></p>
                <a class="pop-up__exit" href="#">X</a>
            </div>
            <div class="pop-up__wrapper">
                <div class="pop-up__comments">
                    <!--<div class="pop-up__comment">
                        <p class="comment-info"><span class="name">Lorem</span><span class="area">Lorem2</span><span class="date">11.12.2018</span></p>
                        <p class="comment-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae dolore fuga incidunt
                            maxime modi molestias officiis perferendis quibusdam ratione rem, soluta tempora veritatis!
                            Eos est minima minus porro voluptate!
                        </p>
                    </div>
                    <div class="pop-up__comment">
                        <p class="comment-info"><span class="name">Lorem</span><span class="area">Lorem2</span><span class="date">11.12.2018</span></p>
                        <p class="comment-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae dolore fuga incidunt
                            maxime modi molestias officiis perferendis quibusdam ratione rem, soluta tempora veritatis!
                            Eos est minima minus porro voluptate!
                        </p>
                    </div>-->
                </div>
                <h2 class="pop-up__title">Ваш отзыв</h2>
                <div class="pop-up__form">
                    <form action="#" class="form" name="formComment">
                        <div class="form__wrapper">
                            <input class="form__input" id="name" type="text" name="name" title="Имя" placeholder="Ваше имя">
                            <input class="form__input" id="area" type="text" name="area" title="Место" placeholder="Укажите место">
                            <input class="form__input" id="comment" type="text" name="comment" title="Комментарий" placeholder="Поделитесь впечатлениями">
                            <button class="form__btn" id="submitBtn" type="submit">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>