.pop-up {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); // временно

  // этот класс скрывает форму
  &.pop-up_hidden {
    left: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 380px;
    max-height: 450px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 5px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    padding-top: 15px;
  }

  &__comments {
    border-bottom: 1px solid lightgrey;
    height: 150px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: rgba(#58395b, .6);
    }
  }

  &__comment {
    padding-bottom: 20px;
  }
}